.create-file-button {
    padding: 10px 30px;
    margin: 10px;
    // height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #c6c6c6;
    border: none;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-file-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}