.frosted-glass-card {
  position: relative;
  transition: all 0.3s ease;
}

.frosted-glass-card.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 80%;
  max-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  background-color: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: #fff;
  transition: all 0.3s ease;
}

.card.expanded {
  background-color: rgba(39, 39, 39, 0.9);

}

.card-content {
  max-height: 300px;
  overflow: auto;
  position: relative;
  transition: all 0.3s ease;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.7) rgba(39, 39, 39, 0.1);
}

.card-content::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.card-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Color of the track */
}

.card-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7); /* Color of the thumb */
  border-radius: 50px; /* Roundness of the thumb */
}

.card-content.expanded {
  max-height: 600px;
}

.view-more-btn,
.close-btn {
  position: absolute;
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background-color: #8c0c0c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-more-btn:hover,
.close-btn:hover {
  background-color: #610c0c;
}

.view-more-container {
  display: flex;
  position: relative;
  height: 40px;
  width: 100%;
}