.particles-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1515;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#particles-js {
    width: 100%;
    height: 100%;
}