<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
  }

  .input-container {
    position: relative;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .input-field {
    width: 100%;
    padding: 12px 40px 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }

  .input-field:focus {
    background-color: #444;
  }

  .send-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .loading-indicator {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-top-color: #333;
    animation: spin 1s linear infinite;
    margin-top: 20px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .content.submitted .input-container {
    transform: translateY(-150px);
  }

  .content.submitted .loading-indicator {
    display: block;
  }

  .response-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
  }

  .response-container.show {
    opacity: 1;
  }

  .loading-indicator.hide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
</style>

<app-particles></app-particles>
<main class="main">
  <div class="content" [class.submitted]="isSubmitted">
    <div class="input-container">
      <input class="input-field" type="text" placeholder="Enter GitHub URL..." [(ngModel)]="githubUrl" (keyup.enter)="onSubmit()">
      <i class="send-icon fas fa-paper-plane" (click)="onSubmit()"></i>
    </div>
    <div *ngIf="!responseData" class="loading-indicator" [class.hide]="responseData"></div>
  </div>

  <div *ngIf="isSubmitted" class="response-container" [class.show]="isSubmitted"><app-response-display [url]="githubUrl"></app-response-display>
  </div>
</main>

<router-outlet></router-outlet>