<div class="input-container">
    <input type="text" [(ngModel)]="userInput" placeholder="Ask a question">
    <button (click)="submitQuestion()">Submit</button>
  </div>
  
  <div class="suggested-questions">
    <div *ngFor="let question of jsonResponse.suggestedQuestions" class="question-card" (click)="selectQuestion(question)">
      {{ question }}
    </div>

    <div *ngIf="questionResponse" class="response-card">
        <div class="confidence-score" [ngClass]="getConfidenceClass()">
          {{ confidence }}
        </div>
        <div >
            {{ questionResponse }}
        </div>
      </div>
  </div>