<div *ngIf="jsonResponse" class="repository-details">
  <div class="page-header">
    <h1 class="page-title">{{ jsonResponse.repository.name }}</h1>
    <h3 class="subtitle">{{jsonResponse.repository.description}}</h3>
    <div class="icon-container">
      <div class="technology-icons">
        <ng-container *ngFor="let language of jsonResponse.repository.technology_stack.languages">
          <img *ngIf="svgMap[removeWhitespace(language.toLowerCase())]" src="{{svgMap[removeWhitespace(language.toLowerCase())]}}" alt="{{language}}" title="{{language}}" class="icon" height="25px" width="25px">
          <!-- <span *ngIf="!svgMap[language.toLowerCase().replace('/\s/g', '')]">{{language}}</span> -->
        </ng-container>
        <ng-container *ngFor="let framework of jsonResponse.repository.technology_stack.frameworks">
          <img *ngIf="svgMap[removeWhitespace(framework.toLowerCase())]" src="{{svgMap[removeWhitespace(framework.toLowerCase())]}}" alt="{{framework}}" title="{{framework}}" class="icon" height="25px" width="25px">
          <!-- <span *ngIf="!svgMap[framework.toLowerCase().replace('/\s/g', '')]">{{framework}}</span> -->
        </ng-container>
        <ng-container *ngFor="let tool of jsonResponse.repository.technology_stack.tools">
          <img *ngIf="svgMap[removeWhitespace(tool.toLowerCase())]" src="{{svgMap[removeWhitespace(tool.toLowerCase())]}}" alt="{{tool}}" title="{{tool}}" class="icon" height="25px" width="25px">
          <!-- <span *ngIf="!svgMap[tool.toLowerCase().replace('/\s/g', '')]">{{tool}}</span> -->
        </ng-container>
      </div>
    </div>
  </div>

  <app-ask-question [suggestedQuestions]="jsonResponse.suggestedQuestions"></app-ask-question>
  <app-bottom-bar></app-bottom-bar>
  <app-architecture-diagram-display></app-architecture-diagram-display>

  <div class="grid-container">

    <div class="card-grid">
      <app-card [cardType]="'security'" class="card-item"></app-card>
      <app-card [cardType]="'optimization'" class="card-item"></app-card>
      <app-card [cardType]="'quality'" class="card-item"></app-card>
      <app-card [cardType]="'architecture'" class="card-item"></app-card>
    </div>
  </div>
</div>