<div *ngIf="jsonResponse" class="repository-details">
  <div class="page-header">
    <h1 class="page-title">
      {{ jsonResponse.repository.name }}
    </h1>
    <h3 class="subtitle">{{jsonResponse.repository.description}}</h3>
  </div>
  <app-ask-question [suggestedQuestions]="jsonResponse.suggestedQuestions"></app-ask-question>
  <app-file-creation-buttons> </app-file-creation-buttons>
  <app-architecture-diagram-display></app-architecture-diagram-display>
  <div class="grid-container">
    <mat-grid-list cols="5" rowHeight="125px" gutterSize="15" style="height: 100%; width: 100%">
      <!-- <mat-grid-tile *ngFor="let item of jsonResponse | keyvalue | summaryDataPipe" [colspan]="item.col"
        [rowspan]="item.row">
        <app-card [cardType]="'security'" style="height: 100%; width: 100%"></app-card>
        <app-card [cardType]="'optimization'" style="height: 100%; width: 100%"></app-card>
      </mat-grid-tile> -->
      <mat-grid-tile [colspan]="3" [rowspan]="3">
        <app-card [cardType]="'security'" style="height: 100%; width: 100%"></app-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="5">
        <app-card [cardType]="'optimization'" style="height: 100%; width: 100%"></app-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="2">
        <app-card [cardType]="'quality'" style="height: 100%; width: 100%"></app-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2">
        <app-card [cardType]="'architecture'" style="height: 100%; width: 100%"></app-card>
      </mat-grid-tile>

    </mat-grid-list>
  </div>