.repository-details {
  margin-bottom: 200px;
}

.grid-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.technology-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 50px;
  max-width: 1200px;
  width: 100%;
}

.card-item {
  //height: 400px;
}

.page-title {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.subtitle {
  font-weight: normal;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

.page-header {
  color: #d7d7d7;
  text-align: center;
  margin-bottom: 20px;
}